.nav-item p{
    font-family: Outfit;
}

.dropdown-menu a{
    font-family: Outfit;
}
.content-wrapper {
    padding: 20px;
}

.content-wrapper h1 {
    font-size: 24px;
    color: black;
    font-family: Outfit;
    letter-spacing: 1px;
}

a.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #EF5350!important;
    color: white;
    border: none;
    font-family: Outfit;
    letter-spacing: 1px;
    border-radius: 30px;
}

.btn-primary:hover {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #ef53509b;
    color: white;
    border: none;
    font-family: Outfit;
    letter-spacing: 1px;
    border-radius: 30px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    overflow-x: auto;
}

.table th:nth-child(2),table th:nth-child(3),table th:nth-child(4),table th:nth-child(5){
    background-color: #EF5350!important;
    color: white;
    font-family: Outfit;
    letter-spacing: 1px;
    font-weight: 500;
}

.table td:nth-child(2),table td:nth-child(3),table td:nth-child(4), table td:nth-child(5) {
    background-color:#FFEEEE!important;
    color: black;
    font-family: Outfit;
    letter-spacing: 1px;
    font-weight: 400;
}

@media (max-width: 767.98px) {
    #searchBar {
        display: none;
    }

    #dropdownMenuButton1 {
        display: none;
    }

    .d-md-flex.justify-content-md-end {
        justify-content: flex-end;
    }

    .btn-primary {
        width: 100%; 
    }

    .table-responsive td {
        font-size: 10px; 
    }
    .table-responsive th {
        font-size: 12px; 
    }
}